# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# API KEY
.env


#커밋규칙
Feat : 새로운 기능에 대한 커밋
Build : 빌드 관련 파일 수정에 대한 커밋
Chore : 그 외 자잘한 수정에 대한 커밋
Ci : CI관련 설정 수정에 대한 커밋
Docs : 문서 수정에 대한 커밋
Form : 코드 형식, 정렬, 주석 등의 변경 커밋
Style : 코드 스타일 혹은 포맷 등에 관한 커밋
Test : 테스트 코드 수정에 대한 커밋
Release : 버전 릴리즈 커밋
Init : 프로젝트 생성 후 첫 커밋
---
예시 )
feat : 헤더 링크 추가
Docs : [README.md](http://readme.md/) 타이틀 추가
