@import "../scss/style.scss";

.footer-area {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 9.375rem 0 9.375rem;
  background: #25435f;
  justify-content: flex-start;
  bottom: 0;
  width: 100%;
}
.footer-imgArea {
  display: flex;
  align-items: center;
  width: 12.5rem;
  height: 6.25rem;
  margin-right: 3.125rem;
}

.footer-imgArea img {
  width: 100%;
  height: auto;
}
.footer-list {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  height: 12.5rem;
  line-height: 1.5625rem;
  list-style: none;
}
.footer-list .footer-title {
  color: $color-white;
  line-height: 1.875rem;
  font-weight: 400;
}
.footer-title a {
  color: $color-white;
  text-decoration: none;
}
