@import "../scss/style.scss";

@mixin button-before() {
  position: absolute;
  right: 2rem;
}
@mixin button-responsive() {
  position: absolute;
  bottom: 2rem;
  left: -1.1rem;
}
.history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 15rem;

  .history-mainBox {
    display: flex;
    justify-content: left;
    height: 38rem;

    .history-leftBox {
      position: relative;
      width: 3rem;
      height: 36rem;

      // ---------연혁 그래프 선-----------

      .history-line {
        display: inline-block;
        position: absolute;
        width: 0.1rem;
        height: 35rem;
        background-color: $color-line-gray;
        left: 2.75rem;
        top: 3.5rem;
      }

      // --------- 연혁 버튼 -----------

      input {
        position: relative;
        width: 1.1em;
        height: 1.1rem;
        margin-top: 3.5em;
        margin-left: 2.2rem;
        appearance: none;
        background-color: $color-line-gray;
        border-radius: 50%;

        &:hover {
          cursor: pointer;
        }

        &:checked {
          border: 2px solid #fff;
          outline-style: solid;
          outline-width: 2px;
          color: $color-history-orange;
          background-color: $color-history-orange;
          border-radius: 50%;
          transform: scale(1.5);
          transition: 0.18s;
          font-weight: $--weight-super-bold;
        }
      }

      // ------- 연혁 연도 글자 ------

      .history-btn1::before {
        @include button-before();
        content: "2022";
      }

      .history-btn2::before {
        @include button-before();
        content: "2021";
      }
      .history-btn3::before {
        @include button-before();
        content: "2020";
      }
      .history-btn4::before {
        @include button-before();
        content: "2019";
      }
      .history-btn5::before {
        @include button-before();
        content: "2018";
      }
      .history-btn6::before {
        @include button-before();
        content: "2017";
      }
    }
  }

  // ------- 연혁 연도별 내용 -------

  ul {
    width: 60rem;
    height: 20rem;
    margin-top: 2.2rem;
    list-style: none;

    li {
      display: inline-block;
      margin-left: 3.5rem;
      line-height: 1.5rem;
      animation: fadeInUp 1.2s;
      animation-timing-function: ease;

      &:nth-child(odd) {
        width: 3.125rem;
        margin-right: 0.2rem;
        font-weight: $--weight-semi-bold;
        font-size: 1.1rem;
      }
      &:nth-child(even) {
        width: calc(100% - 11rem);
        color: $color-font-gray;
      }
    }
  }
}

// ------ 연혁 연도별 내용 애니메이션 -------

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 6%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}

//*******************************************
// --------- 모바일 반응형----------
@media all and (max-width: 640px) {
  .history {
    width: 99%;
    margin-left: 1rem;

    .history-mainBox {
      flex-direction: column;
      width: 99%;
      height: 57rem;
      margin-top: 3rem;

      .history-leftBox {
        width: 48rem;
        height: 4rem;
        // ---------연혁 그래프 선-----------
        .history-line {
          width: 53rem;
          height: 0.2rem;
          left: -10rem;
          top: 1rem;
        }
        // --------- 연혁 버튼 -----------
        input {
          width: 1em;
          height: 1.5rem;
          position: relative;
          left: 1rem;
          margin-top: 0.5rem;
          margin-left: 5.5rem;
          font-size: 15px;
          &:checked {
            border: 2px solid #fff;
            outline-style: solid;
            outline-width: 2px;
            font-weight: $--weight-semi-bold;
            transform: scale(1.3);
          }
        }
        // ------- 연혁 연도 글자 ------
        .history-btn1::before {
          @include button-responsive();
        }
        .history-btn2::before {
          @include button-responsive();
        }
        .history-btn3::before {
          @include button-responsive();
        }
        .history-btn4::before {
          @include button-responsive();
        }
        .history-btn5::before {
          @include button-responsive();
        }
        .history-btn6::before {
          @include button-responsive();
        }
      }
      // ------- 연혁 연도별 내용 -------
      ul {
        width: 100%;
        li {
          line-height: 3rem;
          font-size: 18px;
          margin-left: 2.5rem;
          &:nth-child(odd) {
            width: 3.9rem;
            font-size: 18px;
          }
        }
      }
    }
  }
}
@media (max-width: 420px) {
  .history {
    width: 94%;
    margin-left: 1rem;

    .history-mainBox {
      flex-direction: column;
      width: 100%;
      height: 68rem;
      margin-top: 3rem;

      .history-leftBox {
        width: 100%;
        height: 4rem;
        // ---------연혁 그래프 선-----------
        .history-line {
          width: 36rem;
          height: 0.2rem;
          left: -2rem;
          top: 1rem;
        }
        // --------- 연혁 버튼 -----------
        input {
          width: 0.7em;
          height: 1.2rem;
          position: relative;
          left: 1rem;
          margin-top: 0.5rem;
          margin-left:4rem;
          font-size: 15px;
          &:checked {
            border: 2px solid #fff;
            outline-style: solid;
            outline-width: 2px;
            font-weight: $--weight-semi-bold;
            transform: scale(1);
            
          }
        }
        // ------- 연혁 연도 글자 ------
        // .history-btn1::before {
        //   @include button-responsive();
        // }
        // .history-btn2::before {
        //   @include button-responsive();
        // }
        // .history-btn3::before {
        //   @include button-responsive();
        // }
        // .history-btn4::before {
        //   @include button-responsive();
        // }
        // .history-btn5::before {
        //   @include button-responsive();
        // }
        // .history-btn6::before {
        //   @include button-responsive();
        // }
      }
      // ------- 연혁 연도별 내용 -------
      ul {
        width: 100%;
        li {
          line-height: 3rem;
          font-size: 18px;
          margin-left: 1rem;
          &:nth-child(odd) {
            width: 3.9rem;
            font-size: 18px;
          }
        }
      }
    }
  }
}
