@import "../scss/style.scss";

@mixin button-before() {
  position: absolute;
  right: 2rem;
}
.history {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .history-container {
    margin-left: 15rem;

    .history-mainBox {
      display: flex;
      justify-content: left;
      height: 38rem;
     
      .history-leftBox {
        position: relative;
        width: 3rem;
        height: 36rem;

        // ---------연혁 그래프 선-----------
        
        .history-line {
          display: inline-block;
          position: absolute;
          width: 0.1rem;
          height: 35rem;
          background-color: $color-line-gray;
          left: 2.75rem;
          top: 3.5rem;
        }

        // --------- 연혁 버튼 -----------
        
        input {
          position: relative;
          width: 1.1em;
          height: 1.1rem;
          margin-top: 3.5em;
          margin-left: 2.2rem;
          appearance: none;
          background-color: $color-line-gray;
          border-radius: 50%;
        
          &:hover {
            cursor: pointer;
          }

          &:checked {
            font-weight: $--weight-super-bold;
            border: 2px solid #fff;
            outline-style: solid;
            outline-width: 2px;
            color: $color-history-orange;
            background-color: $color-history-orange;
            border-radius: 50%;
            transform: scale(1.5);
            transition: 0.4s;
          }
        }

        // ------- 연혁 연도 글자 ------

        .history-btn1::before {
          @include button-before();
          content: "2022";
        }

        .history-btn2::before {
          @include button-before();
          content: "2021";
        }
        .history-btn3::before {
          @include button-before();
          content: "2020";
        }
        .history-btn4::before {
          @include button-before();
          content: "2019";
        }
        .history-btn5::before {
          @include button-before();
          content: "2018";
        }
        .history-btn6::before {
          @include button-before();
          content: "2017";
        }
      }
    }

    // ------- 연혁 연도별 내용 -------
    
    ul {
      width: 60rem;
      height: 20rem;
      margin-top: 2.2rem;
      list-style: none;

      li {
        display: inline-block;
        margin-left: 3.5rem;
        line-height: 3.5rem;
        animation: fadeInUp 1.2s;
        animation-timing-function: ease;

        &:nth-child(odd) {
          width: 3.125rem;
          margin-right: 0.2rem;
          font-weight: $--weight-semi-bold;
          font-size: 1.1rem;
        }
        &:nth-child(even) {
          width: calc(100% - 12rem);
          color: $color-font-gray;
        }
      }
    }
  }
}

// ------ 연혁 연도별 내용 애니메이션 -------

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 6%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
