@import '../scss/style.scss';
.historyChange-ul {
  list-style: none;
  width: 60rem;
  height: 20rem;
  margin-top: 2.2rem;
  // margin-left: 1rem;
  animation-timing-function: ease;
}
.historyChange-list {
  animation: fadeInUp 1.5s;
  //   animation-duration: 2s;
  animation-timing-function: ease;

  &:nth-child(odd) {
    display: inline-block;
    width: 3.125rem;
    margin-right: 0.2rem;
    font-weight: $--weight-semi-bold;
    font-size: 1.1rem;
  }
  &:nth-child(even) {
    display: inline-block;
    width: calc(100% - 12rem);
    color: $color-font-gray;
    font-size: $--weight-semi-bold;
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 6%, 0);
  }
  100% {
    opacity: 1;
    transform: translateZ(0);
  }
}
