@import "../scss/style.scss";

// 전체 폰트, 브라우저 호환
* {
  font-family: "AppleSDGothicNeoUL";
  margin: 0;
  padding: 0;
}

// 전체 여백
.introduction-items-wrapper {
  margin: 10rem;
}

// 🟢컴포넌트 : IntroductionInformation.jsx

/*---------introduction-title---------*/

.introduction-title-wrapper {
  margin-bottom: 3rem;
  line-height: 2rem;

  .introduction-title {
    color: $color-Overview-title;
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 1.5rem; // introduction 아래 여백
  }
  .introduction-title p {
    font-size: 1.5rem;
    color: #3e3e3e;
    margin-top: 0.3rem;
  }
  .introduction-title-discription {
    color: black;
    font-size: 1rem;
  }
  .introduction-title-discription-fontcolor {
    color: $color-monitLogo;
    font-size: 1.3rem;
    // font-weight: bold;
  }
}

/*---------introduction-index---------*/
.introduction-index-wrapper {
  margin-bottom: 3rem;
  font-size: 1rem;
  line-height: 2.2rem;

  .introduction-index-fontcolor {
    color: $color-Overview-title;
  }
}

// 🟢컴포넌트 : IntroductionMindmap.jsx
/*---------introduction-cicles---------*/

.introduction-circles-wrapper {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  position: relative;
  z-index: 2;
  height: 40rem;
  width: 50rem;
  min-width: 50rem;
  margin: 0 auto;

  .bigC {
    background-color: white;
    display: flex;
    justify-self: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 50%;
    border: 6px solid $color-Overview-title;

    // 위치
    position: relative;
    margin: 0 auto; //중앙정렬

    .smallC {
      width: 15rem;
      height: 15rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      background-color: $color-Overview-title;
      color: white;
      img {
        width: 8rem;
        height: 2rem;
        margin-bottom: 1.5rem;
      }
      p {
        line-height: 1.5rem;
      }
    }
  }

  // 위치
  .cicle01 {
    position: relative;
    left: 3rem;
    top: -11rem;
  }
  .circle03 {
    position: relative;
    left: 1rem;
    bottom: -10rem;
  }
  .circle02 {
    position: relative;
    left: 3rem;
    top: -13rem;
  }
  .circle04 {
    position: relative;
    right: 7rem;
    top: 10rem;
  }

  //작은 원들 공통 모양
  .circle {
    position: relative;
    border: 4px solid $color-Overview-title;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // justify-self: end;
    // align-items: center;
    // align-self: auto;
    text-align: center;
    color: white;
    border-bottom: none;
  }
  .circle-c01-up {
    background-image: url("../imgs/Introduction_img/BabyMonitor.jpg");
    width: 8rem;
    height: 4rem;
    border-radius: 4rem 4rem 0 0;
    float: top;
  }
  .circle-c01-down {
    background-color: $color-Overview-title;
    width: 8rem;
    height: 4rem;
    border-radius: 0 0 4rem 4rem;
    float: bottom;
  }
  .circle-c02-up {
    background-image: url("../imgs/Introduction_img/PetCare.jpg");
    width: 8rem;
    height: 4rem;
    border-radius: 4rem 4rem 0 0;
  }
  .circle-c02-down {
    background-color: $color-Overview-title;
    width: 8rem;
    height: 4rem;
    border-radius: 0 0 4rem 4rem;
    float: bottom;
  }
  .circle-c03-up {
    background-image: url("../imgs/Introduction_img/Spare2.jpg");
    width: 8rem;
    height: 4rem;
    border-radius: 4rem 4rem 0 0;
  }
  .circle-c03-down {
    background-color: $color-Overview-title;
    width: 8rem;
    height: 4rem;
    border-radius: 0 0 4rem 4rem;
    float: bottom;
  }
  .circle-c04-up {
    background-image: url("../imgs/Introduction_img/SeniorCare.jpg");
    width: 10rem;
    height: 5rem;
    border-radius: 5rem 5rem 0 0;
  }
  .circle-c04-down {
    background-color: $color-Overview-title;
    width: 10rem;
    height: 5rem;
    border-radius: 0 0 5rem 5rem;
    float: bottom;
  }

  //아래 반원 글씨 위치
  .circle-c01-down-t,
  .circle-c02-down-t,
  .circle-c03-down-t {
    margin-bottom: 2rem;
  }
  .circle-c04-down-t {
    margin-bottom: 2.6rem;
  }
}

/*---------introduction-lines-wrapper---------*/
.introduction-lines-wrapper {
  width: 50rem; // introduction-circles-wrapper 값과 같게
  min-width: 50rem;
  display: flex;
  align-items: center;
  position: relative;
  z-index: -1;
  top: -40rem; //height 값과 같게
  margin: 0 auto;

  //연결 선
  .line {
    width: 20rem;
    height: 0.2rem;
    background-color: $color-Overview-line-color;
    display: flex;
    position: relative;
  }

  .line-top-left {
    transform: rotate(36deg);
    top: 14rem;
    left: 9rem;
  }
  .line-bottom-left {
    transform: rotate(140deg);
    top: 27rem;
    left: -3rem;
  }
  .line-top-rignt {
    transform: rotate(140deg);
    top: 11rem;
    left: 6rem;
  }
  .line-bottom-rignt {
    transform: rotate(40deg);
    top: 25rem;
    left: -8rem;
  }
}
