@import "../scss/style.scss";

* {
  font-family: "AppleSDGothicNeoUL";
  margin: 0;
  padding: 0;
}

/*introduction-title*/

.introduction-title {
  color: $color-index-blue;
  font-size: 4rem;
}
.introduction-title-discription {
  color: black;
  font-size: 2rem;
}


/*introduction-index*/

.introductin-index-wrapper {
  font-size: 2rem;
}
.introduction-title-discription-fontcolor {
  color: $color-monitLogo;
  font-size: 2rem;
}

/*introduction-cicles*/









.임시 {
  background-color: #a3cca2;
  height: 10px;
}
.introductin-index-fontcolor {
  color: $color-index-blue;
}

.Introduction {
  /* ...?픽셀? em ? rem?  */
  font-size: 3rem;
}

/* 
scss로 작성하는 법ex.
.parent > .child

.parent {
  .child {

  }
}
 */
