// swiper 코드
@import "./style.scss";

#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper-slide-active {
  overflow: hidden;
}

.swiper {
  width: 100%;
  height: calc(100vh - 100px);
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  overflow: hidden;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// MainSectionComponent start
.main-section-component01-img01 {
  height: 100%;
  width: 100%;
  background-image: url(../imgs/Main_img/main-roll01.png);
  background-size: cover;
  background-position: center;

  // 원형
  display: flex;
  align-items: center;
}

.main-section-component01 {
  min-width: 320px;
}

.main-section-component01-circle-wrapper {
  width: 47rem;
  height: 95rem;
  background-color: #ffffff98;
  border-radius: 0 100rem 100rem 0;
  display: flex;
  align-items: center;
  // border: 2px solid red;
  .main-section-component01-circle-inner {
    width: 43rem;
    height: 90%;
    // background-color: #ffffff96;
    background-color: #fcfdff;
    border-radius: 0 100rem 100rem 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .main-section-component-text-wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      h4 {
        font-size: 1.6rem;
        color: #4d4d4d;
        padding-bottom: 0.5rem;
        line-height: 4rem;
      }

      h3 {
        font-size: 2.6rem;
        color: #4d4d4d;
      }

      button {
        font-size: 1.5rem;
        color: #ffffff;
        border-radius: 4rem;
      }

      h2 {
        font-size: 5.7rem;
        padding: 2rem 0;
        color: #255889;
      }

      p {
        color: #4d4d4d;
        font-weight: bold;
        padding-top: 5rem;
        line-height: 2rem;
        text-align: left;
        font-size: 1.2rem;
      }

      .main-section-component01-bt {
        height: 3rem;
        width: 9.5rem;
        background-color: #517ea7;
        border: none;

        a {
          color: #fff;
          text-decoration: none;
          display: block;
          height: 100%;
          border-radius: 4rem;
          line-height: 3rem;
          border: 2px solid #517ea7;
        }
        a:hover {
          color: #517ea7;
          background-color: #fff;
          border: 2px solid #517ea7;
        }
      }
    }
  }
}

.main-section-component01-img02 {
  height: 100%;
  width: 100%;
  background-image: url(../imgs/Main_img/main-roll02.png);
  background-size: contain;
  background-position: center;
}

.main-section-component01-img03 {
  height: 100%;
  width: 100%;
  background-image: url(../imgs/Main_img/main-roll03.png);
  background-size: contain;
  background-position: center;
}

@media all and (max-width: 680px) {
  .main-section-component01-img01 {
    width: initial;

    .main-section-component01-circle-wrapper {
      width: initial;

      .main-section-component01-circle-inner {
        border-radius: 0;
        width: initial;
        height: 100%;

        .main-section-component-text-wrapper {
          align-items: center;

          h4 {
            font-size: 2rem;
          }
          h3 {
            font-size: 2.5rem;
          }
          p {
            font-size: 1.8rem;
            text-align: center;
            word-break: keep-all;
            line-height: 3.5rem;
          }
        }
      }
    }
  }

  .swiper-slide {
    background-color: #fcfdff;
  }

  // 롤링 화살표 사이즈
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-size: 3rem;
  }
  // 롤링 화살표 사이즈
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-size: 3rem;
  }
}
