@import "./style.scss";

// 부모 가이드 d
// .main-section02-text-wrapper,
// .circle-transparent {
//   border: 1px solid red;
// }

html {
  // max-width: 87.5rem;
}
* {
  box-sizing: border-box;
}

.main-section02-component {
  display: flex;
  align-items: center;
  padding: 5rem;
  background-color: #496895;
  box-sizing: border-box;

  flex-direction: column;

  .main-section02-text-wrapper {
    p {
      font-size: 2.5rem;
      color: #cbcbcb;
    }
    h3 {
      font-size: 3.125rem;
      color: $color-white;
    }
    h4 {
      font-size: 1.875rem;
      color: $color-white;
      margin-top: 1.3rem;
      word-break: normal;
      word-break: keep-all;
    }
  }

  .main-section02-circle-wrapper {
    display: flex;
    justify-content: center;

    min-width: 100%;
    padding-top: 10rem;
    .transparent01 {
      position: relative;
      right: -2.5rem;
    }

    .transparent03 {
      position: relative;
      left: -2.5rem;
    }

    .circle-transparent {
      width: 19rem;
      height: 19rem;
      border-radius: 50%;
      background-color: rgba(#fff, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;

      .circle-inner {
        width: 15rem;
        height: 15rem;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #4d4d4d;
        padding: 1rem;

        img {
          width: 3rem;
          height: 4.5rem;
        }
        h4 {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
        p {
          font-size: 1rem;
          text-align: center;
          margin: 0 1rem;
        }

        .circle-inner-icon-1 {
          background-image: url(../imgs/Main_img/main_icon_1.png);
          background-size: 100%;
          background-repeat: no-repeat;
          width: 3.5rem;
          height: 5.5rem;
          margin: 0 4.3125rem;
        }

        .circle-inner-icon-2 {
          background-image: url(../imgs/Main_img/main_icon_2.png);
          background-size: 100%;
          background-repeat: no-repeat;
          width: 3rem;
          height: 5rem;
          margin: 0 2rem;
        }
        .circle-inner-icon-3 {
          background-image: url(../imgs/Main_img/main_icon_3.png);
          background-size: 100%;
          background-repeat: no-repeat;
          width: 3rem;
          height: 5rem;
          margin: 0 auto;
        }
      }
    }
  }
}
@media all and (max-width: 578px) {
  html {
    overflow-x: hidden;
  }
}
