@import "./style.scss";

// 부모 가이드
// .main-section02-text-wrapper,
// .circle-transparent {
//   border: 1px solid red;
// }

html {
  // max-width: 87.5rem;
}

.main-section02-component {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #496895;
  box-sizing: border-box;
  min-height: 100%;
  min-width: 100%;
  flex-direction: column;

  .main-section02-text-wrapper {
    padding: 0 0 6rem 2.5rem;
    p {
      font-size: 2.5rem;
      color: #cbcbcb;
    }
    h3 {
      font-size: 3.125rem;
      color: $color-white;
    }
    h4 {
      font-size: 1.875rem;
      color: $color-white;
      margin-top: 1.3rem;
    }
  }

  .main-section02-circle-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
    width: 100%;
    .transparent01 {
      position: relative;
      right: -2.5rem;
    }

    .transparent03 {
      position: relative;
      left: -2.5rem;
    }

    .circle-transparent {
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      background-color: rgba(#fff, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;

      .circle-inner {
        width: 16rem;
        height: 16rem;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #4d4d4d;
        padding: 1rem;

        img {
          width: 3rem;
          height: 4.5rem;
        }
        h4 {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}
//1280~1440 짱 큰 화면
@media all and (min-width: 1360px) {
  html {
    font-size: 20px;
  }
}

//1280~1440 큰 화면
@media all and (min-width: 1280px) and (max-width: 1359px) {
  html {
    font-size: 18px;
  }
}

// 1024~1279 (기본!!)
@media all and (min-width: 1024px) and (max-width: 1279px) {
  html {
    font-size: 16px;
  }
}

// 태블릿
@media all and (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 10px;
  }
}
