@import "./style.scss";



// 부모 가이드
// .main-section02-text-wrapper,
// .circle-transparent {
//   border: 1px solid red;
// }

.main-section02-component {
  display: flex;
  justify-content: center;
  background-color: #496895;
  box-sizing: border-box;
  height: 100%;

  .main-section02-text-wrapper {
    position: absolute;
    margin-top: 4.5rem;

    p {
      font-size: 2.5rem;
      color: #cbcbcb;
    }
    h3 {
      font-size: 3.125rem;
      color: $color-white;
    }
    h4 {
      font-size: 1.875rem;
      color: $color-white;
      margin-top: 1.3rem;
    }
  }

  .main-section02-circle-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22rem;

    .transparent01 {
      position: relative;
      right: -3.5rem;
    }

    .transparent03 {
      position: relative;
      left: -3.5rem;
    }

    .circle-transparent {
      padding: 3.5rem;
      border-radius: 20rem;
      background-color: rgba(#fff, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      align-items: center;

      .circle-inner {
        width: 15.5rem;
        height: 15rem;
        background-color: $color-white;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #4d4d4d;
        padding: 1.5rem;

        img {
          width: 3rem;
          height: 4.5rem;
        }
        h4 {
          font-size: 1.5rem;
          padding: 0.5rem;
        }
        p {
          font-size: 1rem;
          text-align: center;
        }
      }
    }
  }
}
