@import "./style.scss";

* {
  margin: 0;
  padding: 0;
  // box-sizing: border-box;
}
// 부모가이드
.main-section-component03,
.main-section-component03-text-wrapper,
.main-section-component03-text,
.main-section-component03-circle-wrapper {
  border: 1px solid red;
  box-sizing: border-box;
}

//자식 가이드
// .main-section-component03-text,
// .main-section-component03-circle01 {
//   border: 1px solid blue;
// }
// style start
.main-section-component03 {
  width: 100vw;
  height: calc(100vh - 4.9375rem);
  position: absolute;
  top: 4.9375rem;

  .main-section-component03-text-wrapper {
    text-align: center;
    margin-top: 2rem;

    .main-section-component03-text {
      padding: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .main-section-component03-title {
        font-size: 4rem;
        line-height: 6.5rem;
        color: #4d4d4d;

        span {
          color: #496895;
        }
      }

      .main-section-component03-nb {
        width: 30rem;
        padding: 1rem 0;
        background-color: #496895;
        border-radius: 2rem;
        color: #fff;
        font-weight: bold;
        font-size: 1.8rem;
        margin-top: 4rem;
      }
    }
  }

  .main-section-component03-circle-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    background-color: $color-white;

    .main-section-component03-circle01 {
      min-width: 22.5rem;
      min-height: 22.5rem;
      background-color: #496895;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-around;
      margin: 0 2rem;

      .main-section-component03-circle01-inner {
        border: 0.05rem solid $color-white;
        width: 80%;
        height: 80%;
        border-radius: 50%;
        background-color: #496895;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: #fff;

        .main-section-component03-circle01-inner-nb {
          width: 3rem;
          height: 2rem;
          text-align: center;
          font-size: 1.5rem;
          border-bottom: 2px solid $color-white;
          margin-bottom: 3rem;
        }

        h3 {
          font-size: 1.8rem;
          text-align: center;
          margin-bottom: 3rem;
          line-height: 3rem;
        }
      }
    }
  }
}
