.map-Box-One {
  width: 52rem;
  height: 8rem;
  background-color: #8298ba;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0.9375rem;
  margin: 2rem auto;
}

.map-Box-One-right {
  width: 14rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  img {
    width: 8rem;
    height: 2rem;
  }
  p {
    color: white;
    font-size: 0.9rem;
    font-weight: 800;
  }
}

.map-Box-One-left {
  width: 45rem;
  height: 6.5rem;
  border-radius: 20px;
  font-size: 1rem;
  background-color: #f4f8ff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #545353;

  .map-Box-One-left-line {
    height: 3.3rem;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .map-Box-One-left-line-big {
      font-size: 1.2rem;
    }

    .map-Box-One-Icon {
      font-size: 1.2rem;
      margin-bottom: -0.3rem;
      margin-right: 0.5rem;
    }
  }
}

// 여기서부터 대중교통

.map-Box-Two {
  width: 52rem;
  height: 10rem;
  // border: 2px red solid;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .map-Box-Two-Box {
    // width: 50%;
    display: flex;
    margin: 0.5rem 0.5rem 2.3rem 0.5rem;

    .map-Box-Two-bus,
    .map-Box-Two-sub {
      width: 3rem;
      height: 3rem;
      background-color: #d9d9d9;
      border-radius: 50%;
      box-shadow: 1px 1px 1px gray;
    }
    .map-Box-Two-bus {
      background-image: url(../imgs/Map_img/bus.png);
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
    }
    .map-Box-Two-sub {
      background-image: url(../imgs/Map_img/subway.png);
      background-size: 80%;
      background-position: center;
    }
    .map-Box-Two-arr {
      height: 7rem;
      font-size: 1rem;
      margin-left: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        margin-top: 0.5rem;
      }
      .map-Box-Two-arr-circle2 {
        font-size: 1.3rem;
        padding: 0.1rem;
        color: white;
        background-color: #00a34b;
        border-radius: 50%;
        margin-bottom: -0.25rem;
      }
      .map-Box-Two-arr-circle4 {
        font-size: 1.3rem;
        padding: 0.1rem;
        color: white;
        background-color: #009fdc;
        border-radius: 50%;
        margin-bottom: -0.25rem;
      }
    }
    .map-Box-Two-arr-B {
      font-weight: bold;
      margin-bottom: 0.6rem;
      font-size: 1rem;
      color: #575757;
    }
  }
}
.map-Box-Two .map-Box-Two-Box:first-child {
  border-right: 1.6px solid #c8c8c8;
  padding-right: 8%;
}
.map-Box-Two .map-Box-Two-Box:last-child {
  margin-left: 4%;
}
