@import "../scss/style.scss";

.vision {
  .vision_title {
    display: flex;
    .vision_outline_circle {
      width: 4px;
      height: 5px;
      background: #25435f;
      border-right: 1px solid #25435f;
      border-radius: 50%;
      margin-right: 3px;
    }
    .vision_title_text {
      color: $color-year-brown;
      font-family: "AppleSDGothicNeoUL";
    }
  }
}
