@import "./style.scss";
@import "./MainSectionCommon.scss";

.main-section-component04 {
  background-image: url(../imgs/2023.png);
  padding: 3rem 0;
  background-size: cover;
  background-position: top;
  width: 100%;
  min-width: 320px;
  height: 100%;
}

.main-section-component04-container {
  width: 100%;
  .main-section-component04 {
    width: 100%;
    .main-section-component04-contact-wrapper div:nth-of-type(2) {
      border: none;
    }
    .main-section-component04-contact-wrapper {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 5rem;
      margin: 0 auto;

      .main-section-component04-contact-inquiry {
        .inquiry-top {
        }
        .inquiry-bottom {
          margin-left: 1rem;
        }
      }
      .main-section-component04-contact {
        font-size: 3rem;
        color: #ff9600;
        padding-bottom: 1rem;
        width: 90%;
        font-weight: 900;
      }

      .main-section-component04-contact-inquiry {
        height: 15rem;
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #fff;
        img {
          height: 3.75rem;
          width: 3.75rem;
          border: 1px solid red;
          margin-right: 2rem;
        }

        .main-section-component04-contact-icon {
          // border: 1px solid red;
          width: 3rem;
          min-width: 3rem;
          height: 3rem;
          margin: 2rem;
          background-size: 100%;
          background-repeat: no-repeat;
        }

        .icon-top {
          background-image: url(../imgs/Main_img/product_icon.png);
        }

        .icon-bottom {
          background-image: url(../imgs/Main_img/affiliate_icon.png);
        }
        .main-section-component04-contact-inquiry-wrapper {
          color: #fcfdff;
          flex: 1;
          h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
            font-weight: 600;
          }
          p {
            font-size: 1.3rem;
            line-height: 1.7rem;
            word-break: keep-all;
            width: 25rem;
          }

          .main-section-component04-contact-inquiry-shortcut {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            // 바로가기 버튼
            a {
              text-decoration: none;
              color: #fcfdff;
              font-size: 1rem;
              display: block;
              padding: 0 0.5rem;
              border: 0.1rem solid #fff;
              margin: 0 2rem;
              width: 9.5rem;
              height: 3rem;
              line-height: 5rem;
              border-radius: 4rem;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              svg {
                width: 1.6rem;
                padding-left: 0.7rem;
              }
            }

            // 바로가기 버튼 background-color
            a:hover {
              background-color: #ff9600;
              transition: 0.3s;
              border: 0.15rem solid #ff9600;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .main-section-component04-container {
    width: 100%;
    .main-section-component04 {
      .main-section-component04-contact-wrapper {
        justify-content: center;
        width: 80%;
        margin: 6rem auto;
        .main-section-component04-contact {
          font-size: 3rem;
          text-align: center;
        }
        .main-section-component04-contact-inquiry {
          height: 35rem;
          width: 100%;
          .main-section-component04-contact-icon {
            min-width: 5rem;
            height: 13rem;
            margin-left: 2rem;
          }
          .main-section-component04-contact-inquiry-wrapper {
            flex: 1;
            h3 {
              font-size: 2.5rem;
              padding-bottom: 2rem;
            }
            p {
              font-size: 1.8rem;
              line-height: 3rem;
              padding-bottom: 3rem;
            }

            .main-section-component04-contact-inquiry-shortcut {
              flex-direction: column;
              align-items: flex-start;
              width: 100%;
              a {
                margin: 2rem 0 2rem 0rem;
                text-align: center;
                width: 15rem;
                height: 5rem;
                line-height: 5rem;
                font-size: 2rem;
                svg {
                  width: 2.4rem;
                }
              }

              p {
                font-size: 2rem;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
